*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;

    &.no-scroll {
        position: fixed;
        overflow: hidden;
    }
}

html,
body {
    font-family: 'Mont', sans-serif;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

body {
    background-color: #fff;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Acrom', sans-serif;
}

h2 {
    font-size: 44px;
    font-weight: 300;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.main {
    flex: 1 0 auto;
}

.container {
    max-width: 1490px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

.icon {
    display: block;
    height: 100%;
    width: 100%;
}

.title-page {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 35px;

    span {
        font-size: 20px;
    }
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    font-family: 'Acrom', sans-serif;

    h2 {
        margin-right: 40px;
    }

    a {
        color: #2F69FF;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        position: relative;
        transform: translateY(3px);

        &::after {
            content: '';
            background-image: url(../img/arrow-left.svg);
            position: absolute;
            left: calc(100% + 10px);
            height: 21px;
            width: 21px;
            transition: transform .15s;
        }

        &:hover {

            &::after {
                transform: translateX(5px);
            }
        }
    }
}

.btn {
    @include no-btn();

    --bg-color: 100, 100%, 100%;
    --bg-color-hover: #{'hsl(var(--bg-color), 85%)'};
    --text-color: inherit;

    border-radius: 5px;
    background-color: #{'hsl(var(--bg-color))'};
    border: 2px solid;
    border-color: #{'hsl(var(--bg-color))'};
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    transition: .15s;

    &:hover {
        background-color: var(--bg-color-hover);
    }

    &-xs {
        font-size: 13px;
        padding: 10px;
    }

    &-large {
        border-radius: 8px;
        font-size: 20px;
        padding: 18px;
    }

    &-primary {
        --bg-color: 223, 100%, 59%;
        --text-color: #fff;
    }
}

.control {
    position: relative;
    width: 40%;

    &::before {
        position: absolute;
        top: 7px;
        left: 10px;
        color: #000;
        font-size: 12px;
        opacity: .5;
    }

    &:first-of-type::before {
        content: 'от';
    }

    &:last-of-type::before {
        content: 'до';
    }

    .input {
        padding-left: 30px;
    }
}

.input {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 14px;
    padding: 4px 10px;
    width: 100%;

    &:focus {
        border-color: #2F69FF;
        outline: none;
    }
}

.select {
    border-color: rgba(0, 0, 0, 0.08);
    border-width: 2px;
    border-radius: 7px;
    font-size: 14px;
    padding: 6px 10px;
    margin-bottom: 15px;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    &:focus {
        border-color: #2F69FF;
        outline: none;
    }
}

.checkbox {
    --size: 22px;

    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 28px;
    padding-left: calc(var(--size) + 8px);
    margin-bottom: 12px;

    &:last-of-type {
        margin-bottom: 0;
    }

    input[type="checkbox"] {
        display: none;

        &:checked + label {
            &::before {
                background-color: #1997F4;
                border-color: #2F69FF;
            }
        }
    }

    &:hover label::after {
        color: #000;
        opacity: .7;
    }

    label {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        font-size: 14px;
        height: var(--size);

        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: calc(-1 * (var(--size) + 8px));
            height: var(--size);
            width: var(--size);
        }

        &::before {
            content: '';
            border: 2px solid rgba(0, 0, 0, 0.4);
            border-radius: 5px;
        }

        &::after {
            content: '✓';
            color: #fff;
            font-size: calc(var(--size) - 10px);
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
        color: #000;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        width: 28px;
        font-weight: 600;
        text-decoration: none;

        &.current {
            background-color: #2F69FF;
            color: #fff;
        }
    }

    .btn {
        background-color: rgba(22, 150, 244, 0.2);
        border-radius: 5px;
        color: #1997F4;
        height: 28px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        font-weight: 600;
    }
}

.page-to {

    form {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
    }

    label {
        color: #000;
        font-weight: 600;
    }

    input {
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 5px;
        width: 75px;
    }
}

.hits {
    margin-bottom: 70px;

    .hits-slider {
        position: relative;
        padding: 0 65px;
    }

    .hits-swiper-button {
        cursor: pointer;
        height: 42px;
        width: 42px;
        position: absolute;
        top: 25%;
        z-index: 5;

        &-prev {
            left: 0;
        }

        &-next {
            right: 0;
        }
    }
}

.hits-item {

    &:hover {

        .hits-item__action {
            opacity: 1;
        }
    }

    &__img {
        max-height: 163px;
        margin-bottom: 18px;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        color: #141414;
        font-family: 'Acrom', sans-serif;
        font-weight: 500;
        display: inline-block;
        padding-right: 5px;
        margin-bottom: 10px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .prices {
        margin-bottom: 10px;

        &__old {
            color: #5A5A5A;
            display: inline-block;
            position: relative;
            font-size: 11px;
            font-weight: 600;
            margin-bottom: 8px;

            &::after {
                content: '';
                position: absolute;
                top: 40%;
                left: 0;
                border-bottom: 1px solid #FF4242;
                height: 0;
                transform: rotate(-4deg);
                width: 100%;
            }
        }

        &__current {
            font-size: 22px;
            font-weight: 700;
            line-height: 16px;

            &:first-child {
                margin-top: 34px;
            }
        }

        &--new {
            color: #FF4242;
        }
    }

    .btn {
        background-color: #fff;
        border: 2px solid #FE5800;

        &:hover {
            color: #fff;
            background-color: #FE5800;
        }
    }

    &__action {
        opacity: 0;
        display: flex;
        flex-direction: column;
    }
}

.availability {
    color: #8F8F8F;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
    padding-left: 17px;

    &::before {
        content: '';
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 0;
        height: 10px;
        width: 10px;
    }

    &--available {

        &::before {
            background-color: #97EF79;
        }
    }

    &--nothing {

        &::before {
            background-color: #F86871;
        }
    }

    &--notpay{

        &::before {
            background-color: #F8E168;
        }
    }
}

.news {
    margin-bottom: 70px;
}

.articles {
    margin-bottom: 70px;
}

.article-wrapper {
    display: flex;
    gap: 20px;
}

.article-item {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    width: calc(100% / 3);

    &__img {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 25px;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__time {
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
        padding-left: 22px;
        position: relative;

        &::before {
            content: '';
            background-image: url(../img/clock.svg);
            background-size: contain;
            position: absolute;
            left: 0;
            display: block;
            height: 16px;
            width: 16px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        font-family: 'Acrom', sans-serif;
        line-height: 22px;
        margin-bottom: 15px;
    }

    &__link {
        color: #2F69FF;
        display: inline-block;
        margin-top: 30px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dealers {
    margin-bottom: 80px;

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-bottom: 45px;
        text-align: center;

        h2 {
            font-family: 'Mont', sans-serif;
        }

        a {
            color: #2F69FF;
            margin-left: 20px;
            font-family: 'Acrom', sans-serif;
            font-size: 14px;
            transform: translateY(3px);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;

        a {
            transition: filter .15s;

            &:hover {
                filter: grayscale(1);
            }
        }
    }
}

.article {
    color: #2F69FF;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
}

.reviews {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: 'Acrom', sans-serif;
        font-weight: 600;
        margin: 0 20px 0 15px;

        a {
            color: #FEA901;
        }
    }

    .btn {
        background-color: #2F69FF;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        padding: 10px 15px;
        min-width: 160px;
        text-align: center;
        text-decoration: none;
    }
}