.card {
    display: flex;
    gap: 40px;
    padding-bottom: 80px;
}

.card-item {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    flex: 1;
    padding-right: 20px;

    &__wrapper {
        display: flex;
        gap: 25px;
        margin-bottom: 50px;
    }
}

.card-info {

    h1 {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    &__reviews {
        align-items: center;
        display: flex;
        gap: 10px;
        font-size: 14px;
        margin-bottom: 5px;

        img {
            width: 100px;
        }

        a {
            color: #FEA901;
        }
    }

    &__more {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        .availability {
            margin-bottom: 0;
        }

        .link {
            color: #141414;
            font-size: 14px;
            margin-left: 25px;
        }
    }
}

.card-delivery {
    color: #141414;
    font-family: 'Acrom', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;

    td {
        padding: 2px;
    }

    .highlight {
        color: #2F69FF;
    }

    .light {
        font-size: 14px;
        font-weight: 400;
    }

    .large {
        font-weight: 600;
        font-size: 22px;
    }

    &__footer {
        font-weight: 400;

        td {
            padding-top: 5px;
        }
    }
}

.card-prices {
    color: #141414;
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 25px;

    .price {
        line-height: 1;
        font-size: 38px;
        font-weight: 600;

        &--current {
            color: #FF4242;
            font-size: 38px;
        }

        &--old {
            color: rgba(0, 0, 0, 0.7);
            font-size: 24px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 40%;
                left: 0;
                border-bottom: 3px solid #FF4242;
                height: 0;
                transform: rotate(-4deg);
                width: 100%;
            }
        }
    }
}

.card-img {
    display: flex;
    height: 410px;
    gap: 25px;
    flex: none;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.card-img-sm {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

    &__item {
        border-radius: 4px;
        flex: none;
        overflow: hidden;
        height: 100px;
        width: 100px;

        &.active {
            border: 1px solid #2F69FF;
        }

        img {
            object-fit: contain;
            width: 100%;
        }
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #2F69FF;
        border-radius: 10px;
    }
}

.card-img-lg {
    height: 100%;
    width: 420px;
    position: relative;

    img {
        position: absolute;
        opacity: 0;
        z-index: 1;
        pointer-events: none;
        transition: opacity .2s;

        &.active {
            pointer-events: all;
            opacity: 1;
            z-index: 2;
        }
    }
}

.related {
    padding: 0 15px;
    max-width: 250px;

    &__title {
        font-family: 'Acrom', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 35px;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 25px;
    }
}

.card-actions {
    display: flex;
    justify-content: space-between;

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 25px;
        width: 300px;

        .btn {
            border-radius: 8px;
            padding: 15px 25px;
        }

        .btn-orange {
            color: #fff;
            background-color: #FE5800;
            border-color: #FE5800;
        }

        .btn-purple {
            background-color: #fff;
            color: #9367f7;
            border-color: #9367f7;
            font-weight: 500;
        }

        .btn-black {
            background-color: #000;
            border-color: #000;
            color: #fff;
        }
    }
}

.counter-actions {
    display: flex;
    align-items: center;
    margin-left: auto;

    span {
        font-weight: 500;
        margin: 0 5px;
        min-width: 35px;
        text-align: center;
    }

    .btn {
        --size: 45px;
        border: 1px solid #AAA7FE;
        border-radius: 5px;
        height: var(--size);
        width: var(--size);
        font-size: 22px;
        font-weight: 600;
        line-height: 1;

        &:hover {
            background-color: #AAA7FE;
            color: #fff;
        }
    }
}