.card {
    display: flex;
    gap: 40px;
    padding-bottom: 80px;
    @include _760 {
        flex-wrap: wrap;
    }
}

.card-item {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    flex: 1;
    padding-right: 20px;
    @include _760 {
        padding-right: 0;
        border-right: 0;
    }

    &__wrapper {
        display: flex;
        gap: 25px;
        margin-bottom: 50px;
        @include _760 {
            flex-wrap: wrap;
            width: 100%;
        }
    }
}

.card-info {

    h1 {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 15px;
        @include _760 {
            font-size: 24px;
        }
    }

    &__reviews {
        align-items: center;
        display: flex;
        gap: 10px;
        font-size: 14px;
        margin-bottom: 5px;

        img {
            width: 100px;
        }

        a {
            color: #FEA901;
        }
    }

    &__more {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        @include _760 {
            flex-wrap: wrap;
            gap: 12px;
            margin-bottom: 20px;
        }

        .availability {
            margin-bottom: 0;
        }

        .link {
            color: #141414;
            font-size: 14px;
            margin-left: 25px;
            @include _760 {
                margin-left: 0;
            }
        }
    }
}

.card-delivery {
    color: #141414;
    font-family: 'Acrom', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    @include _760 {
        font-size: 12px;
    }

    td {
        padding: 2px;
    }

    .highlight {
        color: #2F69FF;
    }

    .light {
        font-size: 14px;
        font-weight: 400;
    }

    .large {
        font-weight: 600;
        font-size: 22px;
    }

    &__footer {
        font-weight: 400;

        td {
            padding-top: 5px;
        }
    }
}

.card-prices {
    color: #141414;
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 25px;

    .price {
        line-height: 1;
        font-size: 38px;
        font-weight: 600;

        &--current {
            color: #FF4242;
            font-size: 38px;
        }

        &--old {
            color: rgba(0, 0, 0, 0.7);
            font-size: 24px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 40%;
                left: 0;
                border-bottom: 3px solid #FF4242;
                height: 0;
                transform: rotate(-4deg);
                width: 100%;
            }
        }
    }
}

.card-img {
    display: flex;
    gap: 25px;
    flex: none;
    flex-direction: column;
    @include _760 {
        width: 100%;
        gap: 12px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    &__inner {
        height: 410px;
        display: flex;
        gap: 25px;
    }
}

.card-img-sm {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    @include _760 {
        display: none;
    }

    &__item {
        border-radius: 4px;
        flex: none;
        overflow: hidden;
        height: 100px;
        width: 100px;

        &.active {
            border: 1px solid #2F69FF;
        }

        img {
            object-fit: contain;
            width: 100%;
        }
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #2F69FF;
        border-radius: 10px;
    }
}

.card-img-lg {
    height: 100%;
    width: 420px;
    position: relative;
    @include _760 {
        width: 100%;
    }

    img {
        position: absolute;
        opacity: 0;
        z-index: 1;
        pointer-events: none;
        transition: opacity .2s;

        &.active {
            pointer-events: all;
            opacity: 1;
            z-index: 2;
        }
    }
}

.card-img-promocode {
    text-align: center;

    img {
        margin: 0 auto;
        width: 180px;
    }
}

.card-content {
    display: flex;
    gap: 38px;
    @include _760 {
        flex-wrap: wrap;
    }

    &__aside {
        flex: 1 0 100%;
        max-width: 300px;
        width: 100%;
        @include _760 {
            max-width: none;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}

.card-sert {
    @include _760 {
        order: 1;
    }
}

.card-action-tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 4px;
    @include _760 {
        order: 2;
        margin-bottom: 0;
    }

    .btn {
        color: #B0B1B6;
        border: 1px solid rgba(47, 105, 255, 0.50);
        font-family: 'Acrom', sans-serif;
        font-weight: 500;
        padding: 14px 25px;

        &.active {
            background-color: #2F69FF;
            color: #fff;
        }
    }
}

.card-tabs {
    line-height: normal;
    font-family: 'Acrom', sans-serif;
    font-weight: 500;
    line-height: normal;

    &__item {
        display: none;

        &.active {
            display: block;
        }

        p {
            color: rgba(0, 0, 0, 0.50);
            margin-bottom: 25px;
            @include _760 {
                margin-bottom: 15px;
            }
        }

        &-first {
            font-size: 16px;
            text-align: center;
            @include _760 {
                font-size: 14px;
                text-align: left;
            }

            p {
                color: #000;
            }

            .card-note {
                color: rgba(0, 0, 0, 0.30);
                font-family: 'Acrom', sans-serif;
                font-size: 16px;
                @include _760 {
                    font-size: 13px;
                }
            }
        }
    }
}

.features {
    column-count: 2;
    column-gap: 8px;
    margin-bottom: 35px;
    @include _760 {
        column-count: 1;
    }
}

.features-dashboard {
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 0.20);
    padding: 22px 28px;
    margin-top: 8px;
    width: 100%;
    break-inside: avoid;
    @include _760 {
        padding: 20px;
    }

    &:first-child {
        margin-top: 0;
    }

    h3 {
        color: #000;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
        @include _760 {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 12px;
        @include _760 {
            font-size: 12px;
            margin-bottom: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__right {
        color: rgba(0, 0, 0, 0.60);
    }

    &__left {
        margin-right: 12px;
    }
}

.related {
    padding: 0 15px;
    max-width: 250px;
    @include _760 {
        max-width: none;
        padding: 0;
        width: 100%;
    }

    &__title {
        font-family: 'Acrom', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 35px;
        text-align: center;
        @include _760 {
            text-align: left;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 25px;
        @include _760 {
            flex-wrap: nowrap;
            overflow-x: auto;
            flex-direction: row;
        }
    }
}

.card-actions {
    display: flex;
    justify-content: space-between;
    @include _760 {
        flex-wrap: wrap;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 25px;
        max-width: 300px;
        min-width: 180px;
        width: 100%;
        @include _760 {
            margin: 20px 0 0;
            max-width: none;
            gap: 10px;
        }

        .btn {
            border-radius: 8px;
            padding: 15px 25px;
            @include _760 {
                font-size: 14px;
            }
        }

        .btn-orange {
            color: #fff;
            background-color: #FE5800;
            border-color: #FE5800;
        }

        .btn-purple {
            background-color: #fff;
            color: #9367f7;
            border-color: #9367f7;
            font-weight: 500;
        }

        .btn-black {
            background-color: #000;
            border-color: #000;
            color: #fff;
        }
    }
}

.counter-actions {
    display: flex;
    align-items: center;
    margin-left: auto;

    span {
        font-weight: 500;
        margin: 0 5px;
        min-width: 35px;
        text-align: center;
    }

    input {
        border: none;
        outline: 0;
        font-weight: 500;
        margin: 0 0px 0px 14px;
        max-width: 35px;
        text-align: center;
    }

    .btn {
        --size: 45px;
        border: 1px solid #AAA7FE;
        border-radius: 5px;
        height: var(--size);
        width: var(--size);
        font-size: 22px;
        font-weight: 600;
        line-height: 1;

        &:hover {
            background-color: #AAA7FE;
            color: #fff;
        }
    }
}