.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 0 85px;
    @include _760 {
        margin-bottom: 40px;
    }

    .catalog-item {
        width: calc(20% - 20px);
        @include _760 {
            width: 100%;
        }

        &__img {
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 25px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &__caption {
            color: #000;
            display: inline-block;
            font-family: 'Acrom', sans-serif;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 15px;
            text-decoration: none;
            @include _760 {
                font-size: 16px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &__list {
            padding: 0;
            list-style: none;
            font-family: 'Acrom', sans-serif;
            font-size: 16px;
            @include _760 {
                font-size: 14px;
            }

            li {
                margin-bottom: 10px;
                padding-left: 12px;
                position: relative;

                &::before {
                    content: '·';
                    font-size: 20px;
                    font-weight: 500;
                    position: absolute;
                    left: 0;
                    top: -3px;
                }
            }

            a {
                color: rgba(0, 0, 0, 0.5);

                &:hover {
                    color: #2F69FF;
                }
            }
        }
    }
}

.catalog-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 85px;

    &__item {
        color: #000;
        font-family: 'Acrom', sans-serif;
        font-size: 18px;
        font-weight: 500;
        padding: 0 15px;
        width: calc(100% / 6);
        text-align: center;
        text-decoration: none;
        transition: color .15s;

        &:hover {
            color: #2F69FF;

            .catalog-wrap__item-img {
                box-shadow: 5px 4px 22px -1px rgba(0, 0, 0, 0.1);
            }
        }

        &:nth-child(n+7) {
            margin-top: 50px;
        }

        &-img {
            border-radius: 15px;
            margin-bottom: 16px;
            height: 146px;
            overflow: hidden;
            transition: box-shadow .15s;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.filters {
    // background-color: gray;
    width: 300px;
    flex: 1 0 auto;
    @include _760 {
        display: none;
    }
}

.filter-section {
    margin-bottom: 25px;
    padding-left: 20px;

    &__title {
        font-family: 'Acrom', sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__content {
        overflow: hidden;

        &--collapse {
            max-height: 125px;
        }

        &--open {
            max-height: fit-content;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__actions {
        margin-top: 15px;

        .btn {
            color: #2F69FF;
            font-size: 14px;
        }
    }
}

.calculator {
    background-color: rgba(217, 217, 217, 0.15);
    border-radius: 5px;
    padding: 0 20px 30px;
    margin-bottom: 35px;

    &__title {
        color: #040404;
        position: relative;
        padding: 25px 0 20px 95px;
        font-family: 'Acrom', sans-serif;
        line-height: 22px;
        font-size: 16px;
        font-weight: 700;
        margin: 0 -20px 15px;

        img {
            position: absolute;
            top: -20px;
            left: -20px;
            width: 120px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .label {
            color: #000;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            margin-bottom: 10px;
            display: block;
        }

        input {
            background-color: transparent;
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 5px;
            font-weight: 500;
            width: 110px;
        }

        .checkbox {
            --size: 20px;
            margin-bottom: 10px;
        }
    }

    &__result {
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 15px 20px;
        font-family: 'Acrom', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        margin: 15px 0;
        text-align: center;

        span {
            color: #FE5800;
        }
    }

    &__actions {

        .btn {
            background-color: #fd7832;
            border: 2px solid #fe5800;
            border-radius: 8px;
            padding: 15px;
            color: #fff;
            font-weight: 600;
            width: 100%;
        }
    }
}

.catalog-items {

    &__img {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 20px;

        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__inner {
        display: flex;
        gap: 12px;
        row-gap: 28px;
        flex-wrap: wrap;
    }

    &__more {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 80px 0;

        .btn {
            padding: 12px 14px;
            border-radius: 6px;
            background-color: #2f69ff;
            box-shadow: none;
            color: #fff;
            cursor: pointer;
            flex: none;
            font-family: 'Acrom', sans-serif;
            font-weight: 700;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: .15s;

            img {
                width: 30px;
            }
        }
    }

    &__paginator {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        row-gap: 20px;
        @include _760 {
            flex-wrap: wrap;
        }
    }
}

.catalog-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &__left {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .btn {
        color: #a3a3a3;
        height: 35px;
        width: 35px;
        padding: 2px;

        &.active {
            color: #050505;
        }

        svg {
            display: inline-block;
            height: 100%;
            width: 100%;
            fill: currentColor;
        }
    }
}

.catalog-filter {
    display: flex;
    gap: 30px;
    margin-bottom: 85px;

    min-height: 550px;
}

.catalog-card {
    border-radius: 20px;
    padding: 16px;
    position: relative;
    width: calc(100% / 3);
    max-width: calc(100% / 3);
    flex: 1 1 30%;
    @include _760 {
        padding: 10px;
        width: 50%;
        max-width: none;
    }

    &:hover {
        box-shadow: 5px 5px 60px rgba(36, 40, 43, 0.1);
        z-index: 5;

        .catalog-card__more {
            opacity: 1;
        }
    }

    &__stickers {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 6;

        .sticker-sale {
            background: linear-gradient(185.42deg, #FF5050 47.09%, rgba(251, 58, 58, 0.538209) 123.88%, rgba(247, 33, 33, 0) 192.32%, rgba(220, 28, 28, 0.49) 192.34%);
            border-radius: 8px;
            color: #fff;
            font-size: 14px;
            padding: 5px 10px;
            font-weight: 500;
        }
    }

    &__more {
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        z-index: 10;
        opacity: 0;
        transition: opacity .15s;
        @include _760 {
            opacity: 1;
        }

        .more-action {
            background-color: #fff;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            border: none;
            cursor: pointer;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;

            &--gray {
                filter: grayscale(1) saturate(0%);
            }
        }
    }

    &__image {
        height: 295px;
        position: relative;
        margin-bottom: 15px;
    }

    &__reviews {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            margin-left: -5px;
            width: 110px;
        }

        a {
            color: #FEA901;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__title {
        color: #141414;
        font-family: 'Acrom', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        display: inline-block;
        margin-bottom: 15px;
        text-decoration: none;
        @include _760 {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .availability {
            margin-bottom: 0;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 10px;

        .prices {
            flex: none;

            &__row {
                display: flex;
                align-items: center;
                gap: 6px;
                margin-bottom: 4px;
            }
        }

        .sale-mark {
            background-image: url(../img/sale-mark.png);
            background-repeat: no-repeat;
            background-size: contain;
            color: #343C4B;
            padding: 5px 8px 5px 10px;
            font-size: 11px;
            font-weight: 700;
            height: 20px;
            width: 40px;
        }

        .promocode {
            width: 55%;
        }

        .price-old {
            position: relative;
            color: #5A5A5A;
            display: inline-block;
            font-size: 14px;
            font-weight: 600;

            &::after {
                content: '';
                position: absolute;
                top: 40%;
                left: 0;
                border-bottom: 1px solid #FF4242;
                height: 0;
                transform: rotate(-4deg);
                width: 100%;
            }
        }

        .price-current {
            font-size: 24px;
            font-weight: 700;

            &--sale {
                color: #FF4242;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        margin-bottom: 15px;

        .btn {
            border: 2px solid;
            border-radius: 8px;
            flex: 1;
            font-size: 16px;
            padding: 12px 15px;
            text-align: center;
            @include _760 {
                font-size: 14px;
            }
        }

        .btn-primary {
            background-color: #FE5800;
            border-color: #FE5800;
            color: #fff;
            font-weight: 500;
        }

        .btn-sale {
            background-color: #fff;
            color: #9367F7;
            font-weight: 500;
        }
    }

    &__info {
        @include _760 {
            display: none;
        }

        ul {
            padding: 0;
            list-style: none;
        }

        li {
            color: rgba(0, 0, 0, 0.3);
            display: flex;
            font-size: 13px;
            font-weight: 600;
            padding-bottom: 4px;
            @include _760 {
                font-size: 11px;
                padding-bottom: 2px;
            }

            &::after {
                content: "";
                flex: 1;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                order: 1;
                transform: translateY(-3px);
                margin: 0 2px;
            }

            span {
                color: #000;
                order: 2;
            }
        }
    }
}

.pr-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    &:hover {
        .pr-slider__trigger:after {
            opacity: 1;
        }
    }

    &__item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        opacity: 0;

        & > a {
            display: block;
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__trigger {
        position: relative;
        flex: 1;
        z-index: 5;

        &:not(:hover) {

            &:first-child + .pr-slider__item {
                opacity: 1;
            }
        }

        &:hover {
            & + .pr-slider__item {
                opacity: 1;
            }

            &::after {
                background-color: #2F69FF;
            }
        }

        &::after {
            content: "";
            display: block;
            opacity: 0;
            position: absolute;
            bottom: 0px;
            left: 2px;
            width: calc(100% - 6px);
            height: 2px;
            background-color: #e2e2ea;
            border-radius: 5px;
            transition: .15s;
            z-index: 4;

            &:hover {
                background-color: #2F69FF;
            }
        }
    }
}

.another-catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}