<div class="catalog-card swiper-slide">
    <div class="catalog-card__stickers">
        <div class="sticker-sale">-25%</div>
    </div>
    <div class="catalog-card__more">
        <button class="more-action more-action--gray" data-fancybox data-src="#dialog-add-compare">
            <img src="img/header/sravni.png" alt="">
        </button>
        <button class="more-action more-action--gray" data-fancybox data-src="#dialog-add-favorite">
            <img src="img/header/fav.png" alt="">
        </button>
        <a href="#" class="more-action">
            <img src="img/catalog/youtube.png" alt="">
        </a>
    </div>
    <div class="catalog-card__image">
        <div class="pr-slider">
            <a href="card-item.html" class="pr-slider__trigger"></a>
            <div class="pr-slider__item">
                <a href="card-item.html">
                    <img src="img/card/card-item.jpg" alt="">
                </a>
            </div>
            <a href="card-item.html" class="pr-slider__trigger"></a>
            <div class="pr-slider__item">
                <a href="card-item.html">
                    <img src="img/card/card-item-2.jpg" alt="">
                </a>
            </div>
            <a href="card-item.html" class="pr-slider__trigger"></a>
            <div class="pr-slider__item">
                <a href="card-item.html">
                    <img src="img/card/card-item-3.jpg" alt="">
                </a>
            </div>
            <a href="card-item.html" class="pr-slider__trigger"></a>
            <div class="pr-slider__item">
                <a href="card-item.html">
                    <img src="img/card/card-item-4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="catalog-card__reviews">
        <img src="img/stars.png" alt="">
        <a href="card-item.html">2 отзыва</a>
    </div>
    <a href="card-item.html" class="catalog-card__title">Кондиционер Ballu BSYI-12HN8/ES_23Y</a>
    <div class="catalog-card__meta">
        <div class="availability availability--available">В наличии</div>
        <div class="article">Артикул: 1021-14689</div>
    </div>
    <div class="catalog-card__price">
        <div class="prices">
            <div class="prices__row">
                <div class="price-old">5 531.30 ₽</div>
                <div class="sale-mark">-23%</div>
            </div>
            <div class="price-current price-current--sale">3 321.45 ₽</div>
        </div>
        <div class="promocode">
            <img src="img/promocode.png" alt="">
        </div>
    </div>
    <div class="catalog-card__actions">
        <button class="btn btn-primary">
            Купить
        </button>

        <button class="btn btn-sale">
            В рассрочку
        </button>
    </div>
    <div class="catalog-card__info">
        <ul>
            <li>Страна-производитель <span>Япония</span></li>
            <li>Автоматический режим <span>Есть</span></li>
            <li>Режим осушения воздуха <span>Есть</span></li>
            <li>Охлаждение <span>от -10°С до +46°С</span></li>
            <li>Нагрев <span>от -15°С до +18°С</span></li>
        </ul>
    </div>
</div>