.faq {

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
        @include _760 {
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 30px;
        }

        .title-page {
            margin-bottom: 0;
        }

        .btn {
            color: #2f69ff;
        }
    }
}

.tags {
    margin-bottom: 40px;
    width: 100%;
    @include _760 {
        margin-bottom: 25px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #d5d5d5;
        @include _760 {
            flex-wrap: wrap;
        }

        &:last-of-type {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    a.tags__item {
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 5px;
        color: #888888;
        padding: 4px 14px;
        text-decoration: none;
        transition: color .2s, border-color .2s;
        @include _760 {
            font-size: 13px;
            padding: 3px 8px;
        }

        &:hover {
            border-color: #2f69ff;
            color: #000;
        }

        &.active {
            color: #fff;
            background-color: #2f69ff;
        }

        &.disabled {
            color: #EBEDEE;
            pointer-events: none;
        }
    }
}

.faq-list {
    margin-bottom: 100px;
    @include _760 {
        margin-bottom: 40px;
    }
}

.faq-item {
    border-radius: 8px;
    border: 1px solid #EBEDEE;
    padding: 30px 30px 30px 60px;
    width: 100%;
    @include _760 {
        padding: 20px;
    }

    & + & {
        margin-top: 25px;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        @include _760 {
            row-gap: 10px;
            flex-wrap: wrap;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 25px;
        @include _760 {
            gap: 15px;
        }

        img {
            @include _760 {
                &:first-of-type {
                    width: 25px;
                }
            }
        }

        h4 {
            font-size: 18px;
            margin-bottom: 0;
            @include _760 {
                font-size: 16px;
            }
        }
    }

    &__topic {
        color: #808080;
        font-size: 14px;
        @include _760 {
            font-size: 12px;
        }
    }

    &__content {
        color: #000;
    }

    .btn {
        color: #2f69ff;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            border-bottom: 1px dashed;
        }

        &:hover {

            &::after {
                display: none;
            }
        }
    }
}

.faq-response {
    display: none;
    margin-top: 30px;
    margin-left: 50px;
    padding-left: 20px;
    border-left: 2px solid #2f69ff;
    @include _760 {
        margin-top: 20px;
        margin-left: 0;
    }

    &__head {
        font-weight: 700;
        margin-bottom: 20px;
        @include _760 {
            margin-bottom: 15px;
        }
    }

    &.active {
        display: block;
    }
}