<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="footer-content__inner">
                <div class="footer-contacts">
                    <a href="#" class="logo">
                        <img src="img/logo-footer.png" alt="">
                    </a>
                    <p>
                        <span>Телефон:</span> <a href="tel:+73432879474">7 (343) 287-94-74</a>
                    </p>
                    <p>
                        <span>Адрес:</span> 620141 Екатеринбург, ул. Майкопская, д. 10, оф. 502А (5 этаж)
                    </p>
                    <p>
                        <span>График:</span> Пн-Пт: 10:00 - 18:00 Сб-Вс:&nbsp;выходной
                    </p>
                    <p>
                        <span>Email:</span> <a href="mailto:info@aventa96.ru">info@aventa96.ru</a>
                    </p>
                </div>

                <div class="footer-help">
                    <div class="footer__title">Помощь покупателю</div>
                    <nav class="footer-help__menu">
                        <ul>
                            <li><a href="delivery.html">Доставка</a></li>
                            <li><a href="pickup.html">Самовывоз</a></li>
                            <li><a href="pays.html">Оплата</a></li>
                            <li><a href="garanty.html">Гарантии</a></li>
                            <li><a href="how-order.html">Как заказать</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Информация о компании</a></li>
                            <li><a href="dealer.html">Официальный дилер</a></li>
                            <li><a href="#">Поставщикам</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                        <ul>
                            <li><a href="install-cond.html">Установака кондиционеров</a></li>
                            <li><a href="faq.html">Вопрос-ответ ( FAQ )</a></li>
                            <li><a href="#">Акции и скидки</a></li>
                            <li><a href="#">Персональные данные</a></li>
                            <li><a href="#">Публичная оферта</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="footer-pay">
                    <div class="footer__title">Доступные способы оплаты</div>
                    <div class="footer-pay__line">
                        <img src="img/footer/footer-money.png" alt="Наличные">
                        <img src="img/footer/footer-mir.png" alt="Картой МИР">
                        <img src="img/footer/footer-visa.png" alt="Картой VISA">
                        <img src="img/footer/footer-mc.png" alt="Картой MasterCard">
                    </div>
                    <div class="footer-pay__reviews footer-pay__line">
                        <a href="#">
                            <img src="img/footer/otziv-1.png" alt="">
                        </a>
                        <a href="#">
                            <img src="img/footer/otziv-2.png" alt="">
                        </a>
                    </div>
                    <div class="footer-pay__socials footer-pay__line">
                        <a href="#">
                            <img src="img/footer/vk.png" alt="">
                            <span>Вконтакте</span>
                        </a>
                        <a href="#">
                            <img src="img/footer/ok.png" alt="">
                            <span>Одноклассники</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-info">
        © 2009-2023. Aventa96.ru - онлайн климат-маркет Екатеринбурга. Все права защищены.
    </div>
</footer>
