<header class="header">
    <div class="header-sub">
        <div class="container">
            <div class="header-sub__left">
                <a href="#" class="header-city">
                    <img src="img/header/map.png" alt="">
                    <span>Екатеренбург</span>
                    <svg class="icon">
                        <use xlink:href="../img/sprite.svg#include--chevron-down"></use>
                    </svg>
                </a>

                <a href="#" class="header-sale">
                    <img src="img/header/sale.png" alt="Акции и скидки">
                    <span>Акции и скидки</span>
                </a>
            </div>

            <div class="header-sub__right">
                <nav class="header-menu">
                    <ul>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Самовывоз</a></li>
                        <li><a href="#">Способ оплаты</a></li>
                        <li><a href="#">Гарантии</a></li>
                        <li><a href="#">Установка кондиционеров</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>

                <div class="header-user">
                    <svg class="icon">
                        <use xlink:href="../img/sprite.svg#include--user"></use>
                    </svg>
                    <div class="header-user__content">
                        <a href="#" class="sign-in">Вход</a>
                        <a href="#" class="sign-up">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-main">
        <div class="container">
            <div class="header-logo">
                <a href="/" title="Перейти на Главную страницу">
                    <img src="img/logo.png" alt="Логотип Авента96">
                </a>
            </div>

            <button class="header-catalog">
                <img src="img/header/menu.svg" alt="">
                <span>Каталог товаров</span>
            </button>

            <div class="header-search">
                <form action="" class="header-search__form">
                    <input type="text" placeholder="Поиск по сайту">
                </form>
            </div>

            <div class="header-phones">
                <div class="header-phones__row">
                    <a href="tel:+73432879474" class="header-phones__link">7 (343) 287-94-74</a>
                    <svg class="icon">
                        <use xlink:href="../img/sprite.svg#include--chevron-down-phone"></use>
                    </svg>
                </div>
                <p>
                    Звоните нам до 18.00<br>
                    Заказ оформляйте на сайте
                </p>
                <div class="phones-modal">
                    <div class="phones-modal__title">Телефон</div>

                    <p class="phones-modal__desc">
                        Работаем с 15:00 до 20:00<br>с Пн по Пт<br>
                        Заказ оформляйте на сайте
                    </p>

                    <a href="tel:+73432879474" class="phones-modal__tel">7 (343) 287-94-74</a>

                    <div class="phones-modal__sub-title">По всем вопросам:</div>
                    <a href="mailto:info@aventa96.ru" class="phones-modal__mail">info@aventa96.ru</a>

                    <div class="phones-modal__sub-title">Адреса офиса:</div>
                    <p>ул. Майкопская 10, оф. 502А (5 этаж)</p>

                    <div class="phones-modal__socials">
                        <a href="#" class="link-vk">
                            <img src="img/footer/vk.png" alt="">
                            <span>Вконтакте</span>
                        </a>
                        <a href="#" class="link-ok">
                            <img src="img/footer/ok.png" alt="">
                            <span>Одноклассники</span>
                        </a>
                    </div>

                    <button class="btn">
                        <img src="img/header/envelope.svg" alt="">
                        <span>Обратная связь</span>
                    </button>
                </div>
            </div>

            <div class="header__links">
                <a href="#" class="header-link">
                    <div class="header-link__img">
                        <img src="img/header/sravni.png" alt="Сравнение товаров" height="38" width="38">
                        <div class="header-link__count">0</div>
                    </div>
                    <div class="header-link__caption">Сравнить</div>
                </a>
                <a href="#" class="header-link">
                    <div class="header-link__img">
                        <img src="img/header/fav.png" alt="Избранные товары" height="45" width="45">
                        <div class="header-link__count header-link__count--fav">0</div>
                    </div>
                    <div class="header-link__caption">Избранное</div>
                </a>
                <a href="#" class="header-link">
                    <div class="header-link__img">
                        <img src="img/header/cart.svg" alt="Корзина" height="33" width="36">
                        <div class="header-link__count">0</div>
                    </div>
                    <div class="header-link__caption">Корзина</div>
                </a>
            </div>

            <a href="#" class="header-cart">0 ₽</a>
        </div>
    </div>

    <div class="menu">
        <div class="container">
            <aside class="menu-aside">
                <a href="#" class="menu-aside__item active">Кондиционирование</a>
                <a href="#" class="menu-aside__item">Водоснабжение и отопление</a>
                <a href="#" class="menu-aside__item">Тепловое оборудование</a>
                <a href="#" class="menu-aside__item">Очистители и увлажнители</a>
                <a href="#" class="menu-aside__item">Вентиляция</a>
                <a href="#" class="menu-aside__item">Тёплый пол и греющий кабель</a>
            </aside>
            <div class="menu-content">
                <div class="menu-item active">
                    <div class="menu-item__title">Кондиционирование</div>
                    <div class="menu-item__wrap">
                        <ul class="menu-item__list">
                            <li><a href="#">Настенные кондиционеры</a></li>
                            <li><a href="#">Облачные кондиционеры</a></li>
                            <li><a href="#">Мобильные кондиционеры</a></li>
                            <li><a href="#">Оконные кондиционеры</a></li>
                            <li><a href="#">Мульти-сплит системы</a></li>
                            <li><a href="#">Кассетные кондиционеры</a></li>
                            <li><a href="#">Напольные кондиционеры</a></li>
                            <li><a href="#">Канальные кондиционеры</a></li>
                            <li><a href="#">Напольно-потолочные кондиционеры</a></li>
                            <li><a href="#">Напольно-канальные кондиционеры</a></li>
                            <li><a href="#">Колонные кондиционеры</a></li>
                            <li><a href="#">Компрессорно-конденсаторные кондиционеры</a></li>
                            <li><a href="#">Аксессуары для кондиционеров</a></li>
                            <li><a href="#">Для монтажа кондиционеров</a></li>
                        </ul>
                        <div class="menu-item__brands">
                            <div class="menu-item__brands-title">По производителям</div>
                            <ul class="menu-item__brands-list">
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                                <li><a href="#">AC Electric</a></li>
                            </ul>
                        </div>
                        <div class="menu-item__logos">
                            <img src="img/header/brands-1.png" alt="">
                            <img src="img/header/brands-2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item__title">Водоснабжение и отопление</div>
                    <div class="menu-item__wrap">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item__title">Тепловое оборудование</div>
                    <div class="menu-item__wrap">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item__title">Очистители и увлажнители</div>
                    <div class="menu-item__wrap">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item__title">Вентиляция</div>
                    <div class="menu-item__wrap">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item__title">Тёплый пол и греющий кабель</div>
                    <div class="menu-item__wrap">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
