.banners {
    display: grid;
    gap: 20px;
    grid-template-columns: calc(65.2% - 10px) calc(34.8% - 10px);
    margin-bottom: 25px;
    @include _760 {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 35px;
    }

    .banners-item {
        border-radius: 13px;
        overflow: hidden;

        &--lg {
            grid-row: 1/3;
            @include _760 {
                grid-column: 1/3;
            }
        }

        img {
            object-fit: cover;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    }

    .swiper-hero {
        position: relative;
        height: 100%;

        .hero-swiper-button {
            cursor: pointer;
            height: 65px;
            width: 65px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            @include _760 {
                height: 45px;
                width: 45px;
            }

            &-prev {
                left: 20px;
            }

            &-next {
                right: 20px;
            }
        }
    }
}

.category {
    display: flex;
    gap: 26px;
    margin-bottom: 65px;
    @include _760 {
        overflow-y: auto;
        width: 100%;
        gap: 16px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .category-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 6);
        text-align: center;
        text-decoration: none;
        @include _760 {
            // flex: 1 1 80vw;
            width: 100%;
            min-width: 190px;
        }

        &__img {
            border-radius: 13px;
            overflow: hidden;
            max-height: 233px;
            margin-bottom: 23px;
            @include _760 {
                margin-bottom: 15px;
            }
        }

        &__caption {
            color: #000;
            font-size: 18px;
            font-weight: 500;
            font-family: 'Acrom', sans-serif;
            line-height: 21px;
            @include _760 {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}