<div class="popup" id="dialog-sign-in">
    <h3 class="popup__title">Вход</h3>
    <div class="popup__desc">Заполните форму для входа в личный кабинет</div>
    <form action="">
        <div class="popup__row">
            <label for="signin-email">Email</label>
            <input type="email" id="signin-email" name="email">
        </div>
        <div class="popup__row">
            <label for="signin-pass">Пароль</label>
            <input type="password" id="signin-pass" name="password">
        </div>
        <button class="btn btn-send">Отправить</button>
        <div class="popup__footer">
            У вас нет аккаунта? <button type="button" class="btn btn-link" data-fancybox data-src="#dialog-sign-up">Регистрация</button>
        </div>
    </form>
</div>

<div class="popup" id="dialog-sign-up">
    <h3 class="popup__title">Cоздать аккаунт</h3>
    <div class="popup__desc">Создайте личный кабинет </div>
    <form action="">
        <div class="popup__row">
            <label for="signup-name">ФИО</label>
            <input type="text" id="signup-name" name="name">
        </div>
        <div class="popup__row">
            <label for="signup-phone">Номер телефона</label>
            <input type="tel" id="signup-phone" name="phone">
        </div>
        <div class="popup__row">
            <label for="signup-email">Email</label>
            <input type="email" id="signup-email" name="email">
        </div>
        <div class="popup__row">
            <label for="signup-pass">Пароль</label>
            <input type="password" id="signup-pass" name="password">
        </div>
        <div class="popup__row">
            <label for="signup-pass-approve">Подтвердите пароль</label>
            <input type="password" id="signup-pass-approve" name="password-approve">
        </div>
        <button class="btn btn-send">Зарегистрироваться</button>
        <div class="popup__footer">
            У вас есть аккаунт? <button type="button" class="btn btn-link" data-fancybox data-src="#dialog-sign-in">Вход</button>
        </div>
    </form>
</div>

<div class="popup popup--wide" id="dialog-add-cart">
    <h3 class="popup__title">Товар добавлен в корзину</h3>

    <div class="popup-card">
        <img src="img/catalog/catalog-card.jpg" alt="">
        <a href="#" class="popup-card__title">Кондиционер SHUFT SFTG-06HN1</a>
        <div class="popup-card__count">
            <button class="btn">-</button>
            <span>1</span>
            <button class="btn">+</button>
        </div>
        <div class="popup-card__price">110 325 ₽</div>
    </div>

    <div class="popup-actions">
        <div class="popup-actions__info">
            В корзине
            <span>23 товара</span>
        </div>

        <div class="popup-actions__buttons">
            <button class="btn btn-secondary js-modal-close">Продолжить покупки</button>
            <a href="#" class="btn btn-primary">Перейти в корзину</a>
        </div>
    </div>
</div>