<div class="popup" id="dialog-feedback">
    <h3 class="popup__title">Обратная связь</h3>
    <div class="popup__desc">Заполните форму и наш менеджер свяжется с вами</div>
    <div class="popup__wrap">
        <form action="">
            <div class="popup__row">
                <label for="feedback-name">Ваше имя</label>
                <input type="text" id="feedback-name" name="name">
            </div>
            <div class="popup__row">
                <label for="feedback-email">Email</label>
                <input type="email" id="feedback-email" name="email">
            </div>
            <div class="popup__row">
                <div class="checkbox">
                    <input type="checkbox" id="agreed">
                    <label for="agreed">Даю согласие на обработку <a href="#">персональных данных</a></label>
                </div>
            </div>
            <button class="btn btn-large btn-primary">Отправить</button>
        </form>

        <img src="img/feedback.png" class="popup__img" alt="">
    </div>
</div>

<div class="popup" id="dialog-question">
    <h3 class="popup__title">Задать свой вопрос</h3>
    <div class="popup__desc">
        Задайте нам свой вопрос, воспользовавшись данной формой.<br>
        Через некоторое время ваш вопрос и ответ на него появятся в разделе Вопрос — ответ (FAQ).<br>
        Надеемся, что наше с вами общение будет приятным, удобным и полезным.
    </div>
    <form action="">
        <div class="popup__row">
            <label for="question-name">ФИО</label>
            <input type="text" id="question-name" name="name">
        </div>
        <div class="popup__row">
            <label for="question-email">Email</label>
            <input type="email" id="question-email" name="email">
        </div>
        <div class="popup__row">
            <label for="question-pass">Пароль</label>
            <input type="password" id="question-pass" name="password">
        </div>
        <div class="popup__row">
            <label for="">Ваш вопрос</label>
            <textarea class="" name="" id="" cols="30" rows="3"></textarea>
        </div>
        <button class="btn btn-large btn-primary">Отправить</button>
    </form>
</div>

<div class="popup" id="dialog-sign-in">
    <h3 class="popup__title">Вход</h3>
    <div class="popup__desc">Заполните форму для входа в личный кабинет</div>
    <form action="">
        <div class="popup__row">
            <label for="signin-email">Email</label>
            <input type="email" id="signin-email" name="email">
        </div>
        <div class="popup__row">
            <label for="signin-pass">Пароль</label>
            <input type="password" id="signin-pass" name="password">
        </div>
        <button class="btn btn-large btn-primary">Отправить</button>
        <div class="popup__footer">
            У вас нет аккаунта? <button type="button" class="btn btn-link" data-fancybox
                data-src="#dialog-sign-up">Регистрация</button>
        </div>
    </form>
</div>

<div class="popup" id="dialog-sign-up">
    <h3 class="popup__title">Cоздать аккаунт</h3>
    <div class="popup__desc">Создайте личный кабинет </div>
    <form action="">
        <div class="popup__row">
            <label for="signup-name">ФИО</label>
            <input type="text" id="signup-name" name="name">
        </div>
        <div class="popup__row">
            <label for="signup-phone">Номер телефона</label>
            <input type="tel" id="signup-phone" name="phone">
        </div>
        <div class="popup__row">
            <label for="signup-email">Email</label>
            <input type="email" id="signup-email" name="email">
        </div>
        <div class="popup__row">
            <label for="signup-pass">Пароль</label>
            <input type="password" id="signup-pass" name="password">
        </div>
        <div class="popup__row">
            <label for="signup-pass-approve">Подтвердите пароль</label>
            <input type="password" id="signup-pass-approve" name="password-approve">
        </div>
        <button class="btn btn-large btn-primary">Зарегистрироваться</button>
        <div class="popup__footer">
            У вас есть аккаунт? <button type="button" class="btn btn-link" data-fancybox
                data-src="#dialog-sign-in">Вход</button>
        </div>
    </form>
</div>

<div class="popup popup--wide" id="dialog-add-cart">
    <h3 class="popup__title">Товар добавлен в корзину</h3>

    <div class="popup-card">
        <img src="img/catalog/catalog-card.jpg" alt="">
        <a href="#" class="popup-card__title">Кондиционер SHUFT SFTG-06HN1</a>
        <div class="counter-actions">
            <button class="btn">-</button>
            <span>1</span>
            <button class="btn">+</button>
        </div>
        <div class="popup-card__price">110 325 ₽</div>
    </div>

    <div class="popup-actions">
        <div class="popup-actions__info">
            В корзине
            <span>23 товара</span>
        </div>

        <div class="popup-actions__buttons">
            <button class="btn btn-secondary js-modal-close">Продолжить покупки</button>
            <a href="#" class="btn btn-primary">Перейти в корзину</a>
        </div>
    </div>
</div>

<div class="popup popup--wide" id="dialog-add-compare">
    <div class="popup-card popup-card--mini">
        <img src="img/catalog/catalog-card.jpg" alt="">
        <div class="popup-card__content">
            <a href="#" class="popup-card__title">Кондиционер SHUFT SFTG-06HN1</a>
            <div class="popup-card__desc">Успешно добавлен в <span>сравнение</span></div>
            <div class="popup-actions">
                <button class="btn btn-primary js-modal-close">Продолжить покупки</button>
            </div>
        </div>
    </div>
</div>

<div class="popup popup--wide" id="dialog-add-favorite">
    <div class="popup-card popup-card--mini">
        <img src="img/catalog/catalog-card.jpg" alt="">
        <div class="popup-card__content">
            <a href="#" class="popup-card__title">Кондиционер SHUFT SFTG-06HN1</a>
            <div class="popup-card__desc">Успешно добавлен в <span>избранное</span></div>
            <div class="popup-actions">
                <button class="btn btn-primary js-modal-close">Продолжить покупки</button>
            </div>
        </div>
    </div>
</div>