.personal {
    display: flex;
    gap: 60px;
    margin-bottom: 100px;
    width: 100%;
}

.personal-side {
    border-right: 1px solid #ececec;
    flex: none;

    nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ececec;
    }

    a {
        color: #000;
        text-decoration: none;
        padding-left: 25px;
        font-weight: 600;
        position: relative;

        svg {
            fill: currentColor;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .link-write {
        color: #2f69ff;
        font-weight: 400;
        text-decoration: underline;
    }

    .logout {
        font-weight: 700;
    }
}

.personal-form {

    &__row {
        display: flex;
        gap: 20px;

        & + & {
            margin-top: 25px;
        }
    }

    &__field {
        flex: 1;
        max-width: 32%;

        label {
            color: #000;
            font-weight: 600;
            display: inline-block;
            margin-bottom: 6px;
        }

        .input {
            font-size: 16px;
            padding: 6px 15px;
        }
    }
}

.orders {
    border-collapse: collapse;

    th, td {
        padding: 8px 20px;
        font-weight: 400;
        text-align: center;
    }

    thead {
        background-color: #ebf0ff;
    }

    tbody {

        td {
            border-top: 1px solid #ececec;
            padding: 20px;
        }
    }
}

.details {
    border-radius: 9px;
    background-color: #fcfcfc;
    display: table;
    width: 100%;

    .details-head {
        display: table-row;
        font-family: 'Acrom', sans-serif;
        font-size: 15px;
    }

    .details-body {
        display: table-row-group;

        &__item {
            display: table-row;
        }

        .details-cell {

            &:nth-child(3) {
                font-weight: 600;
            }
        }
    }

    .details-foot {
        display: table-row;
        width: 100%;

        &__row {
            border-top: 2px solid #D9D9D9;
            display: table-cell;
        }

        &__cell {
            // display: table-cell;
            padding: 15px 15px 0;
        }
    }

    .details-cell {
        display: table-cell;
        font-size: 14px;
        padding: 16px 26px;
        text-align: left;

        &:not(:first-of-type) {
            white-space: nowrap;
            text-align: center;
        }

        &--wide {
            column-width: 100%;
        }
    }
}

.link-yellow {
    color: #FEA901;
}