.fancybox__backdrop {
    background-color: rgba(0, 0, 0, .6);
}

.popup {
    background-color: #f8f8f8;
    color: #000;
    border-radius: 8px;
    box-shadow: 6px 7px 17px 3px rgba(0, 0, 0, 0.25);
    padding: 55px;
    display: none;
    min-width: 600px;

    &--wide {
        min-width: 800px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__desc {
        font-size: 18px;
        margin-bottom: 30px;
    }

    &__row {
        margin-bottom: 30px;
    }

    &__footer {
        margin-top: 40px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        border: 2px solid #F4F4F4;
        border-radius: 10px;
        background-color: #fff;
        padding: 15px 20px;
        font-weight: 600;
        width: 100%;
    }

    .btn-link {
        --bg-color: transparent;
        color: #017CC2;
        border: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .popup-card {
        color: #141414;
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 40px;

        img {
            width: 25%;
            max-width: 250px;
        }

        &__title {
            color: inherit;
            font-family: 'Acrom', sans-serif;
            font-size: 22px;
            font-weight: 500;
            line-height: 28px;
            margin-left: 20px;
            width: 40%;
            text-decoration: none;
        }

        &__price {
            font-weight: 700;
            margin-left: auto;
        }
    }

    .popup-card--mini {
        justify-content: space-between;
        margin: 0;

        img {
            width: 35%;
        }

        .popup-card__content {
            margin-left: 30px;
        }

        .popup-card__title {
            display: block;
            margin-left: 0;
            margin-bottom: 15px;
            width: 100%;
        }

        .popup-card__desc {
            font-size: 18px;
            margin-bottom: 35px;

            span {
                color: #2F69FF;
            }
        }

        .btn-primary {
            margin-left: 0 !important;
        }
    }

    .popup-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__info {

            span {
                color: #2F69FF;
                display: block;
            }
        }

        .btn {
            border: 1px solid #2F69FF;
            border-radius: 8px;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            width: 280px;
        }

        .btn-primary {
            background-color: #2F69FF;
            color: #fff;
            margin-left: 15px;
        }

        .btn-secondary {
            background-color: transparent;
            color: #2F69FF;
        }
    }
}